@model T1809E.WAD.ASM102_TrangDM2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Title -->
    <title>Sign up</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <meta name="description" content="Responsive Admin Dashboard Template" />
    <meta name="keywords" content="admin,dashboard" />
    <meta name="author" content="Steelcoders" />

    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/plugins/materialize/css/materialize.min.css")" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="@Url.Content("~/Content/plugins/material-preloader/css/materialPreloader.min.css")" rel="stylesheet">


    <!-- Theme Styles -->
    <link href="@Url.Content("~/Content/css/alpha.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/custom.css")" rel="stylesheet" type="text/css" />

</head>
<body class="signup-page">
    <div class="loader-bg"></div>
    <div class="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mn-content valign-wrapper">
        <main class="mn-inner container ">
            <div class="valign">
                <div class="row">
                    <div class="col s12 m6 l4 offset-l4 offset-m3">
                        <div class="card white darken-1">
                            <div class="card-content ">
                                <h4>Register</h4>
                                <div class="row">
                                    <div class="col s12">
                                        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="input-field col s12">
                                                <input id="email" name="Email" type="email" class="validate" required>
                                                <label for="email">Email</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="password" name="Password" type="password" class="validate" required="">
                                                <label for="password">Password</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="validate" required="">
                                                <label for="password">Confirm Password</label>
                                            </div>
                                            <div class="col s12 right-align m-t-sm">
                                                <a href="/Account/Login" class="waves-effect waves-grey btn-flat">Login</a>
                                                <button type="submit" class="waves-effect waves-light btn teal">Register</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- JS -->
    <script src="@Url.Content("~/Content/plugins/jquery/jquery-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/materialize/js/materialize.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/material-preloader/js/materialPreloader.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/jquery-blockui/jquery.blockui.js")"></script>
    <script src="@Url.Content("~/Content/js/pages/form_elements.js")"></script>
    <script src="@Url.Content("~/Content/js/alpha.min.js")"></script>
</body>
</html>
